div
{
	background-color: lightblue;
}
form
{
	width: 100%;
	background-color: lightblue;
}
.rap
{
	background-color: lightblue;
}
table
{
	align-items: center;
	background-color: lightblue;
}
h2
{
	color: black;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size:50px;
	color: #9c062e;

}
h5
{
	color:black;
	text-align: center;

}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */ /* Stay on top */
  top: 4%; /* Stay at the top */
  left:0%;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px;
  margin-top: 52px;
}
#rcorners2 {
  border-radius: 15px;
  border: 2px solid #73AD21;
  padding: 10px; 
  width: 200px;
  height: 55px;  
  text-align: center;
  font-size:15px;
}

.myButton {
	box-shadow: -2px 5px 6px 0px #8a2a21;
	background:linear-gradient(to bottom, #1fafdb 5%, #f03976 100%);
	background-color:#1fafdb;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	font-color:black;
	padding:6px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ab4841;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f03976 5%, #1fafdb 100%);
	background-color:#f03976;
}
.myButton:active {
	position:relative;
	top:1px;
}
h4
{
	color:white;
}
.navbar
{
	background-color: #283840;
	position: fixed;
	width: 100%;
}
big
{
	font-size: 20px;
}
.button1 {
	font-color:black;
}
p
{
	width: 100%;
	background-color: lightblue;
}
